# Secrets
secrets/

# Cache
**/__pycache__
**/*.pyc

# Large data files
*.csv
!specs/*.csv  # Exclude specs directory CSVs since we want those with LFS
*.parquet
*.feather
*.pickle
*.pkl

# Temporary files
tmp/
temp/